<h1>Trash</h1>

<table class="table table-condensed">
  <tr>
    <td><input id="mark_all" class="marked" type="checkbox"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% (1..5).each do |i| %>
<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td>
  <a href="#"  data-toggle="modal" data-target="#modalMessage">Amir</a>
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage" >Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td></td>
  <td><span class="label label-default">Replied</span></td>
  <td>20-2-2012</td>
</tr>

<% end %>

<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td><i class="fa fa-paperclip"></i></td>
  <td>
</td>
  <td>20-2-2012</td>
</tr>

<% (1..5).each do |i| %>
<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td><i class="fa fa-paperclip"></i></td>
  <td></td>
  <td>20-2-2012</td>
</tr>

<% end %>

<% (1..5).each do |i| %>
<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td></td>
  <td></td>
  <td>20-2-2012</td>
</tr>

<% end %>
</table>
<%= erb :modal_message %>