<h1>Spam</h1>

<span id="read-delete">
  <a class="compose btn btn-default btn-default" href="#"><i class="fa fa-times"></i>Delete</a> 
           
</span>


<div class=" search-form pull-right">
  <form class="form-inline">
    <div class="form-group">
      Search: <input id="search-mail" type="text" class="form-control">
    </div>
  </form>
</div>

<table class="table table-condensed">
  <tr>
    <td><input id="mark_all" class="marked" type="checkbox"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <% (1..5).each do |i| %>
<tr class="unread-mail"><td><input id="mark_all" class="marked" type="checkbox"></td>
  <td>
  <a href="#"  data-toggle="modal" data-target="#modalMessage">Amir</a>
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage" >Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td></td>
  <td></td>
  <td>20-2-2012</td>
</tr>

<% end %>

<tr class="unread-mail"><td><input id="mark_all" class="marked" type="checkbox"></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td><i class="fa fa-paperclip"></i></td>
  <td>
</td>
  <td>20-2-2012</td>
</tr>

<% (1..5).each do |i| %>
<tr class="unread-mail"><td><input id="mark_all" class="marked" type="checkbox"></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td><i class="fa fa-paperclip"></i></td>
  <td></td>
  <td>20-2-2012</td>
</tr>

<% end %>

<% (1..5).each do |i| %>
<tr class="read-mail"><td><input id="mark_all" class="marked" type="checkbox"></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a></td>
  <td></td>
  <td></td>
  <td>20-2-2012</td>
</tr>

<% end %>
</table>
<%= erb :modal_message %>