<h1>Outbox</h1>

<a class="compose btn btn-default" href="#" role="button"  data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Compose Mail</a>


<span id="read-delete">
  <a class="compose btn btn-default btn-default" href="#"><i class="fa fa-times"></i> Delete</a> 
           
</span>



<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Sender</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tr>
    <td><input id="mark_all" class="marked" type="checkbox"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% (1..5).each do |i| %>
<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td>
  <a href="#"  data-toggle="modal" data-target="#modalMessage">Amir</a>
  </td>
  <td>
    <div class="col-md-10 inside_table">

    <a href="#"  data-toggle="modal" data-target="#modalMessage" >Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a>
    </div>

    <div class="col-md-2">
    <span class="label label-success">Delivered</span>

    </div>
  </td>
  <td>20-2-2012</td>
</tr>

<% end %>

<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td>
    <div class="col-md-10 inside_table">

    <a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a>
    </div>

    <div class="col-md-2">

    <i class="fa fa-paperclip"></i>
    <span class="label label-danger"> Failed</span>
    </div>
</td>
  <td>20-2-2012</td>
</tr>

<% (1..5).each do |i| %>
<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td>
    <div class="col-md-10 inside_table">

    <a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a>
    </div>

    <div class="col-md-2">

    <i class="fa fa-paperclip"></i>
    </div>
  </td>
  <td>20-2-2012</td>
</tr>

<% end %>

<% (1..5).each do |i| %>
<tr class="read-mail"><td>
      <input class="marked" type="checkbox">
  </td>
  <td><a href="#"  data-toggle="modal" data-target="#modalMessage">Bangna</a></td>
  <td>
    <div class="col-md-10 inside_table">

    <a href="#"  data-toggle="modal" data-target="#modalMessage">Title sdfs f sdfsd sf sdfsfdsf sdf s<small> - sdfsd sdf sd fsdf fsdfsd</small></a>
    </div>

    <div class="col-md-2">
  <span class="label label-default">Replied</span> <span class="label label-success">Delivered</span>

    </div>
  
</td>
  <td>20-2-2012</td>
</tr>

<% end %>
</table>
<%= erb :loading %>
<%= erb :modal_message %>