<!-- modal message -->

<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabelMessage">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h2 class="modal-title" id="myModalLabelMessage">Email Title</h2>
        <h4>Sender Name</h4>
        <div><button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Flag</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Mark As Spam</button></div>
        
      </div>
      <div class="modal-body">
      <p>
        Dear XXX,
      </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis neque, veritatis adipisci praesentium corrupti, at odit officia ab consequuntur perferendis! Praesentium et dolorum sit, molestias quasi nisi eum dignissimos, in!</p>

      </div>

      <div class="modal-footer">

        <a href="#" type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modalMessageReply">Reply</a>
        

        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modalMessageForward">Forward</button>
    
        
      </div>
    </div>
  </div>
</div>

<!-- #modalMessage -->


<!-- #modalMessageReply -->

<div class="modal fade" id="modalMessageReply" tabindex="-1" role="dialog" aria-labelledby="replyMessage">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="replyMessage">Something Urgent</h2>
        <h4>Prof. Stone Cold Steve Austin</h4>
      </div>
      <div class="modal-body">
      <p>
        Dear Student,
      </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis neque, veritatis adipisci praesentium corrupti, at odit officia ab consequuntur perferendis! Praesentium et dolorum sit, molestias quasi nisi eum dignissimos, in!</p>


<div class="form-group">
    <label for="exampleInputEmail1">To</label>
    <input type="email" class="form-control" id="exampleInputEmail1" value="steve.austin@uni-weimar.de">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="RE: Something Urgent">
  </div>
  <div class="form-group"><textarea class="form-control" rows="7"></textarea></div>
  
  <div class="form-group"><input type="file" class="form-control"></div>



      </div>

      <div class="modal-footer">

       <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Discard</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>

<!-- #modalMessageReply -->


<!-- sample forward -->


<div class="modal fade" id="modalMessageForward" tabindex="-1" role="dialog" aria-labelledby="forwardMessage">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="forwardMessage">Something Urgent</h2>
        <h4>Prof. Stone Cold Steve Austin</h4>
      </div>
      <div class="modal-body">
      <p>
        Dear Student,
      </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis neque, veritatis adipisci praesentium corrupti, at odit officia ab consequuntur perferendis! Praesentium et dolorum sit, molestias quasi nisi eum dignissimos, in!</p>


<div class="form-group">
    <label for="exampleInputEmail1">To</label>
    <input type="email" class="form-control" id="exampleInputEmail1" value="the.rock@uni-weimar.de">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" class="form-control" id="exampleInputPassword1" value="FWD: Something Urgent">
  </div>
  <div class="form-group"><textarea class="form-control" rows="7"></textarea></div>
  
  <div class="form-group"><input type="file" class="form-control"></div>



      </div>

      <div class="modal-footer">
        
       <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
        <button type="button" class="btn btn-default">Send</button>
      </div>
    </div>
  </div>
</div>

<!-- sample forward -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Compose Email</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
    <label for="exampleInputEmail1">To</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalAddRecipient" data-dismiss="modal">Add Recipient</button>
<br><br>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Title">
  </div>
  <div class="form-group"><textarea class="form-control" rows="10"></textarea></div>
  
  <div class="form-group"><input type="file" class="form-control"></div>
  


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Discard</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal add recipient -->

<div class="modal fade" id="myModalAddRecipient" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddRecipient">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelAddRecipient">Add Recipient</h4>
      </div>
      <div class="modal-body">
       
        

        <table class="table table-condensed" id="contacts">
          
          <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
               
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
               
                
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td><input type="checkbox"> Tiger Nixon</td>
                <td>tiger.nixon@mail.com</td>
                
               
            </tr>
            <tr>
                <td><input type="checkbox"> Garrett Winters</td>
                <td>garett.winters@mail.com</td>
               
            </tr>
            <tr>
                <td><input type="checkbox"> Ashton Cox</td>
                <td>ashton.cox@mail.com</td>
                
            </tr>
            <tr>
                <td><input type="checkbox"> Cedric Kelly</td>
                <td>cedric.kelly@mail.com</td>
               
            </tr>
            <tr>
                <td><input type="checkbox"> Airi Satou</td>
                <td>airi.satou@mail.com</td>
                
            </tr>
          </tbody>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#myModal">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal add recipient -->


