<!-- Sidebar -->
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
 
    <li>
        <a href="#">Inbox</a>
    </li>
    <li>
        <a href="#">Outbox</a>
    </li>
    <li>
        <a href="#">Drafts</a>
    </li>
    <li>
        <a href="#">Spam</a>
    </li>
    <li>
        <a href="#">Trash</a>
    </li>
    
</ul>
</div>
<!-- /#sidebar-wrapper -->