.right-alligned{
  text-align: right;
}
.content{
  height: 95%;
  overflow: auto;
}

.modal{
  height:100%;
  overflow: auto;
}

body, html {
          height: 100%;
      }

#menu-toggle {
  position: absolute;
  height: 100%
  bottom: 0;
}

#content-wrapper{
  /*padding-top: 20px;*/
}

td > a {
  color: black;
}

td > a:hover {
  color: black;
}

.navbar-brand > a{
  color: white;
}

.unread-mail{
  font-weight: bold;
}

.read-mail{
  background-color: #EFF2F0;
}
