body, html {
          height: 100%;
      }
      
.mid-section {
  padding-top: 40px;
  height: 100%;
  /*padding: 40px 15px;*/
  /*text-align: center;*/
}

#menu-toggle {
  position: absolute;
  height: 100%
  bottom: 0;
}

#content-wrapper{
  padding-top: 20px;
}


.navbar-brand > a{
  color: white;
}

.unread-mail{
  font-weight: bold;
}

.read-mail{
  background-color: #EFF2F0;
}
